body {
  background-color: aquamarine;
  background-size: cover;

}

h3 {
  color: purple;
}

hr {
  border-style: hidden;
}

input {
  color: rgb(48, 47, 47);
  font-size: 15px;
  border-radius: 40%;
}

button {
  color: blue;
  text-align: justify;
  font-size: 15px;
}

a {
  font-family: monospace;
  text-align: center;
  font-size: 18px;
  color: #ff1493;
}

input[type="text"] {
  background-color: lightblue;

}

input[type="submit"] {
  border-radius: 50%;
}

input[type="password"] {
  background-color: lightblue;
}

input[type="reset"] {
  border-radius: 50%;
}

div.box {
  background-image: url('down.jpg');
  border-style: solid;
  border-color: skyblue;
  border-radius: 20px;
  width: 507px;
  height: 516px;

  margin: 100px;
  border-width: 1px;
  padding: 0px;
}

div.box-inner {
  border-style: inset;
  text-align: center;
  margin: 10px;
  padding: 100px;
}

div.box2 {
  border-style: hidden;
  position: relative;
  width: 150px;
  height: 100px;
  left: 40px;
  top: 80px;

}

div.box3 {
  border-style: hidden;
  position: relative;
  width: 150px;
  height: 100px;
  left: 200px;
  bottom: 35px;
}

div.box4 {
  border-style: hidden;
  position: relative;
  width: 150px;
  height: 100px;
  left: 90px;
  bottom: 42px;
}